.ControlsContainer{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}


.ColorSchemeContainer{
    box-sizing: content-box;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    
}

.Grayscale{
    background-image: linear-gradient(to bottom right, lightGrey, black);
}


.ColorInput{
    width: 100%;
    height: 49%;
}

.Rainbow{
    background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
}