.SketchContainer{
 background-color: rgb(231, 224, 125);   
 width: 100%;
 height: 100%;
 margin-bottom: 20px;
}

.Sketchpad{
    box-sizing: content-box;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
